{% extends 'HospitalBundle::main.html.twig'%}

{% block title %}Inicio{% endblock %}
{% block contenido %}
<div id="header">
    <ul class="nav">
            <li><a href="">Inicio</a></li>
            <li><a href="">Pacientes</a>
                    <ul>
                            <li><a href="{{url('hospital_paciente_nuevo')}}">Alta</a></li>
                            <li><a href="">Tratamiento</a>
                                <ul>
                                    <li><a href="{{url('hospital_paciente_buscar')}}">Nuevo</a></li>
                                    <li><a href="">Submenu2</a></li>
                                    <li><a href="">Submenu3</a></li>
                                    <li><a href="">Submenu4</a></li>
                                </ul>
                            </li>
                            <!--li><a href="">Submenu4</a>
                                    
                            </li-->
                            <!--li><a href="">Submenu3</a></li-->
                            
                    </ul>
            </li>
            <li><a href="">Empleados</a>
                <ul>
                    <li><a href="">Nuevo</a></li>
                </ul>
            </li>
            <li><a href="">Catalogos</a>
                    <ul>
                            <li><a href="{{url('hospital_cargo')}}">Cargos</a></li>
                            <li><a href="{{url('hospital_tipoEmpleado_tipos')}}">Tipo Empleado</a></li>
                            <li><a href="{{url('hospital_formas_pago')}}">Formas de Pago</a></li>
                            <li><a href="{{url('hospital_TipoTratamiento_tipos')}}">Tipo de Tratamientos</a></li>
                    </ul>
            </li>
            <li><a href="">Contacto</a></li>
    </ul>
</div>
{% endblock %}