{% extends 'HospitalBundle::main.html.twig' %}
{% block title %}Detalle del {{persona.nombre}}{% endblock %}
{% block contenido %}
<h1>Editar {{persona.nombre}} </h1>
	{{ form_start(form)}}
	{{ form_errors(form) }}
                    <article>
                    {{ form_label(form.cedula)}}
                    {{ form_errors(form.cedula)}}
                    {{ form_widget(form.cedula)}}
		</article>
		<article>
                    {{ form_label(form.nombre)}}
                    {{ form_errors(form.nombre)}}
                    {{ form_widget(form.nombre)}}
		</article>
                <article>
                    {{ form_label(form.apellidos)}}
                    {{ form_errors(form.apellidos)}}
                    {{ form_widget(form.apellidos)}}
		</article>
                <article>
                    {{ form_label(form.fechaNacimiento)}}
                    {{ form_errors(form.fechaNacimiento)}}
                    {{ form_widget(form.fechaNacimiento)}}
		</article>
                <article>
                    {{ form_label(form.telefono)}}
                    {{ form_errors(form.telefono)}}
                    {{ form_widget(form.telefono)}}
		</article>
                <article>
                    {{ form_label(form.direccion)}}
                    {{ form_errors(form.direccion)}}
                    {{ form_widget(form.direccion)}}
		</article>
		<article>
			<input type="submit" value="Guardar">
		</article>
	{{ form_row(form._token) }}
	{{ form_rest(form) }}
	{{ form_end(form) }}	
{% endblock %}