{% extends 'HospitalBundle::main.html.twig' %}
{% block title %}Detalle del {{formasPago.nombre}}{% endblock %}
{% block contenido %}
<h1>Editar {{formasPago.nombre}} </h1>
	{{ form_start(form)}}
	{{ form_errors(form) }}
			<article>
			{{ form_label(form.nombre)}}
			{{ form_errors(form.nombre)}}
			{{ form_widget(form.nombre)}}
		</article>
		<article>
			{{ form_label(form.descripcion)}}
			{{ form_errors(form.descripcion)}}
			{{ form_widget(form.descripcion)}}
		</article>
		<article>
			<input type="submit" value="Guardar">
		</article>
	{{ form_row(form._token) }}
	{{ form_rest(form) }}
	{{ form_end(form) }}	
{% endblock %}